@charset "utf-8";
/*　リセットCSS
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/*　リセットCSS ここまで

/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/

body {
    margin: 0px;
    padding: 0px;
    color: #666;
    /*全体の文字色*/
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    /*フォント種類*/
    font-size: 15px;
    /*文字サイズ*/
    line-height: 1.8;
    /*行間*/
    background: #fff;
    /*背景色*/
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
form {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 65px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    font-size: 100%;
    border-spacing: 0;
}

iframe {
    width: 100%;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/

a {
    color: #0073bc;
    /*リンクテキストの色*/
    text-decoration: none;
    /*リンクの下線を消す*/
}

a:hover {
    color: #b7dbf2;
    /*マウスオン時の文字色*/
    text-decoration: none;
    /*マウスオン時にリンクの下線を消す設定*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
    margin: 0px auto;
    max-width: 1100px;
    /*最大幅*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
    height: 100px;
    /*高さ*/
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    /*影の設定。右へ、下へ、ぼかし幅。rgbaは色設定で0,0,0は黒。0.2が透明度。*/
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    /*同上*/
    border-radius: 0px 0px 5px 5px;
    /*角丸のサイズ。左上、右上、右下、左下への順番。*/
    margin-bottom: 2px;
    /*下のコンテンツとの間にあけるスペース*/
    background: #13a0c9;
    /*背景色（古いブラウザ用）*/
    background: -webkit-linear-gradient(#13a0c9, #15b3e0);
    /*グラデーション*/
    background: linear-gradient(#13a0c9, #15b3e0);
    /*同上*/
}

/*ロゴtext*/
#logotext {
    font-size: 1.32rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 3px #074051;

    width: 250px;
    /*画像幅*/
    padding: 33px 0px 0px 10px;
    /*ロゴの余白。上、右、下、左の順。*/
    float: left;
    /*左に回り込み*/
}

#logotext a {
    color: #fff;
}

#logotext a:hover {
    color: #b7dbf2;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/* ▼メニューバーの装飾 */
ul.ddmenu {
    width: 68%;
    float: right;
    margin: 20px 0px;
    /* メニューバー外側の余白(ゼロ) */
    /* メニューバー内側の余白(左に15px) */
    background-color: linear-gradient(#13a0c9, #1190b5);
    /* バーの背景色 */
}

/* ▼メインメニュー項目の装飾 */
ul.ddmenu li {
    width: 18%;
    /* メニュー項目の横幅(125px) */
    display: inline-block;
    /* ★1:横並びに配置する */
    list-style-type: none;
    /* ★2:リストの先頭記号を消す */
    position: relative;
    /* ★3:サブメニュー表示の基準位置にする */

}

ul.ddmenu a {
    background-color: #0c6883;
    /* メニュー項目の背景色 */
    background: -webkit-linear-gradient(#0c6883, #0e7b9a);
    /*グラデーション*/
    background: linear-gradient(#0c6883, #0e7b9a);
    color: white;
    /* メニュー項目の文字色(白色) */
    line-height: 60px;
    /* メニュー項目のリンクの高さ(40px) */
    text-align: center;
    /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;
    /* メニュー項目の装飾(下線を消す) */
    font-size: 1rem;
    font-weight: 500;
    /* 太字にする */
    display: block;
    /* ★4:項目内全域をリンク可能にする */
}

ul.ddmenu a:hover {
    background-color: #faf7e2;
    /* メニュー項目にマウスが載ったときの背景色 */
    background: -webkit-linear-gradient(#faf7e2, #f6f1cc);
    /*グラデーション*/
    background: linear-gradient(#faf7e2, #f6f1cc);
    color: #0c6883;
    /* メニュー項目にマウスが載ったときの文字色 */
}

/* ▼サブメニューがある場合に開く処理 */
/* ※サブメニューが1階層しか存在しない場合の記述 */
ul.ddmenu li:hover ul {
    display: block;
    /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* ▼サブメニューの装飾 */
ul.ddmenu ul {
    width: auto;
    display: none;
    /* ★1:標準では非表示にする */
    margin: 0px;
    /* ★2:サブメニュー外側の余白(ゼロ) */
    padding: 0px;
    /* ★3:サブメニュー内側の余白(ゼロ) */
    position: absolute;
    /* ★4:絶対配置にする */
}

/* ▼サブメニュー項目の装飾 */
ul.ddmenu ul li {
    /* ※A */
    width: 100%;
    /* サブメニュー1項目の横幅 */
    border-top: 1px solid #b7dbf2;
    /* 項目上側の枠線 */
}

ul.ddmenu ul li a {
    /* ※B */
    line-height: 40px;
    /* サブメニュー1項目の高さ */
    text-align: center;
    /* 文字列の配置 */
    font-weight: normal;
    /* 太字にはしない */
    font-size: 0.85rem;
}

ul.ddmenu ul li a:hover {
    /* ※C */
    background-color: #b7dbf2;
    /* サブメニュー項目にマウスが載ったときの背景色 */
    color: #0c6883;
    /* サブメニュー項目にマウスが載ったときの文字色 */
}

/*小さな端末用メニューを表示させない*/
#menubar-s {
    display: none;
}

/*３本バーアイコンを表示させない*/
#menubar_hdr {
    display: none;
}

/*トップページのメイン画像
--------------------------------------------------------------------------*/
#mainimg {
    margin-bottom: 1em;
}

/*パンくずリスト
--------------------------------------------------------------------------*/
#breadcrumb {
    font-size: smaller;
    margin-bottom: 20px;
    padding: 7px 40px 1px 0;
    text-align: right;
    background: #eee;
    border-radius: 5px 5px 5px 5px;
}

#breadcrumb ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#breadcrumb ol li {
    display: inline;
}

#breadcrumb ol li::after {
    content: ">";
    padding-left: 7px;
}

#breadcrumb ol li:last-child::after {
    content: none;
}

/*トップページ、タイトル「東日本ユニオン東京地本」下のコメント
---------------------------------------------------------------------------*/
#comm{
    margin: 0 20px 0 20px;
}
#comm p{
    font-size: 1.1rem;
    font-weight: 400;
}
#comm img{
    float: left;
    margin: 0 20px 5px 10px;
}
/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
    float: right;
    /*右側に回り込み*/
    width: 74%;
    /*幅*/
    padding-bottom: 30px;
}

/*１カラム時のメインコンテンツ*/
.c1 #main {
    float: none;
    width: 70%;
    margin: 0 auto;
}

.c2 {
    padding: 0;
    margin-top: 2em;
}

.c2 p {
    margin: 0;
}

.c2 dd {
    margin-left: 1em;
}

/*mainコンテンツのul、olを初期値に戻す*/
#main ul {
    margin: 0 0 1em 0;
    padding-left: 40px;
    list-style-type: disc;
}

#main ol {
    margin: 0 0 1em 0;
    padding-left: 40px;
    list-style-type: decimal;
}

/*mainコンテンツのolの後のul*/
#main ol ul {
    padding-left: 10px;
}

#main ol ol {
    list-style-type: lower-latin;
    padding-left: 20px;
}

/*mainコンテンツのh1タグの設定*/
#main h1 {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.2em;
    color: #444444;
    margin: 30px 0 50px 30px;
}

h1 .subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.65em;
    font-weight: normal;
    text-align: center;

}

/*mainコンテンツのh2タグの設定*/
#main h2 {
    clear: both;
    font-size: 1.4rem;
    /*文字サイズ*/
    font-weight: 200;
    line-height: 1.4em;
    margin: 30px 0 15px 0;
    border-top: 2px solid #3298D3;
    color: #333;
    /*文字色*/
    padding: 6px 15px;
    /*上下、左右への余白*/
    background: url("../images/bg_h2.gif") 0 100% repeat-x;
}

/*mainコンテンツのh3タグの設定*/
#main h3 {
    clear: both;
    font-size: 1.1rem;
    /*文字サイズ*/
    color: #333;
    font-weight: 300;
    line-height: 1.4em;
    border-left: 5px solid #fd8e2f;
    margin: 1em 0 0.5em 0;
    padding: 5px 15px;
    /*上下、左右への余白*/
    background: #eee;
}

/*mainコンテンツのh4タグの設定*/
#main h4 {
    clear: both;
    margin: 1em 0 0.5em 0;
    padding: 3px 10px;
    font-size: 1.1rem;
    line-height: 1.4em;
    padding-left: 1.5em;
    text-indent: -1.5em;
    background: url("../images/bg_h3.gif") 0 100% repeat-x;
}

/*mainコンテンツのh5タグの設定*/
#main h5 {
    margin: 0.5em 0 0.5em 0;
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 2em;
    text-indent: -2em;
}

/*メインコンテンツのp(段落)タグ設定*/
#main p {
    padding: 0px 15px 0px;
    /*上、左右、下への余白*/
}

#main h2+p,
#main h3+p {
    margin-top: -5px;
}

/*メインコンテンツの「お知らせ」
----------------------------------------------------------------*/
#notice dl {
    padding-left: 15px;
    margin-bottom: 15px;
}

#notice dt {
    font-weight: bold;
    /*太字にする設定。標準がいいならこの行削除。*/
    float: left;
    width: 5em;
}

#notice dd {
    padding-left: 5em;
}

/* トップページ#mainの特集コーナー
----------------------------------------------------------------*/
.tokusyu ul {
    font-size: 1.1em;
}
.tokusyu li {
    list-style: none;
    margin-bottom: 10px;
    padding-left: 7px;
    border-left: solid 10px #fd8e2f;
    border-bottom: solid 1px #ccc;
}

/*トップページの情報紙サムネイル
----------------------------------------------------------------*/
.wrapper {
    clear: both;
    overflow: hidden;
}


.sam {
    float: left;
    margin: 5px 0 10px 15px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 230px;
    background-color: #fafafa;
}

.sam p {
    font-size: 0.7em;
    text-align: center
}

.tit {
    font-size: 1.2em;
    text-align: center;
}

/*コンテンツ内のボックス（list）設定
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
.list {
    float: left;    /*左に回り込み*/
    width: 31%;     /*幅*/
    overflow: auto;
    background: #fff;   /*背景色*/
    margin-left: 1.5%;      /*ボックス同士の左右間の余白*/
    margin-bottom: 20px;    /*ボックス同士の上下間の余白*/
    border: 1px solid #ccc; /*枠線の幅、線種、色*/
    border-radius: 6px; /*角丸のサイズ。この行削除すれば通常の長方形になる。*/
    height: 500px;      /*高さ(CMS専用)*/
    height: 230px;      /*高さ（下の「.list a」の高さと揃える）*/
    line-height: 1.4;
    position: relative;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);     /*影の設定。右へ、下へ、ぼかし幅。rgbaは色設定で0,0,0は黒。0.2が透明度。*/
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);     /*同上*/
}

.list a {
    display: block;
    overflow: auto;
    text-decoration: none;
    color: #0c6883;
    height: 500px;      /*高さ(CMS専用)*/
    height: 230px;      /*高さ（上の「.list」の高さと揃える）*/
}

.list a:hover {
    background: #0c6883;    /*マウスオン時の背景色*/
    color: #fff;            /*マウスオン時の文字色*/
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
.list a::before {
    content: "→";   /*この文字を出す。他の文字に変えても可だが機種依存文字は化けるので使わない。*/
    position: absolute;
    right: 20px;    /*ボックスの右から20pxの場所に配置*/
    top: 20px;      /*ボックスの上から20pxの場所に配置*/
    background: #000;   /*背景色（古いブラウザ用）*/
    background: rgba(0,0,0,0.5);    /*rgb指定での背景色。「0,0,0」は黒の事で「0.5」が透明度50%の事。*/
    color: #fff;    /*文字色*/
    border: 1px solid #fff; /*枠線の幅、線種、色*/
    border-radius: 4px;     /*角丸のサイズ*/
    width: 30px;        /*幅*/
    line-height: 30px;  /*高さ*/
    text-align: center;
}
.list a:hover::before {
    background: #000;   /*マウスオン時の「→」マークの背景色*/
}
/*ボックス内の画像設定*/
.list .img {
    width: 100%;            /*画像の幅*/
    height: 140px;          /*画像の高さ*/
    padding-bottom: 0px;   /*画像下に空ける余白*/
}
/*ボックス内のh4（見出し）タグ設定*/
.list h4 {
    text-align: center;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    /*文字サイズ*/
}

/*ボックス内のp（段落）タグ設定*/
.list p {
    font-size: 12px;
    text-align: center;
    /*文字サイズを少し小さく*/
}

/*一覧ページの各物件ボックス内のテーブル（CMS用）
---------------------------------------------------------------------------*/
.list table {
    font-size: 10px;
    /*文字サイズ*/
    margin: 0px 15px 5px;
}

.list table,
.list table td,
.list table th {
    border: 1px solid #ccc;
    /*枠線の幅、線種、色*/
}

.list table td,
.list table th {
    padding: 1%;
    /*テーブル内の余白*/
}

/*色のついた見出しブロック*/
.list table th {
    width: 18%;
    /*幅*/
    background: #f5f5f5;
    /*背景色*/
    text-align: center;
    /*文字をセンタリング*/
    font-weight: normal;
    /*デフォルトの太字を標準にする設定*/
}

.list a:hover table th {
    background: #000;
}

/*白い説明用ブロック*/
.list table td {
    width: 31%;
    /*幅*/
}

/*機関紙・情報紙ページの情報メニュー
---------------------------------------------------------------------------*/
#newsmenu ul{ 
margin: 0; 
padding: 0; 
list-style: none; 
}
#newsmenu li{ 
display: inline; 
padding: 0; 
margin: 0; 
}
#newsmenu li a{
display: block; 
border-left: 10px solid #fd8e2f;
border-bottom: 1px solid #ccc;
background-color: #fff;
padding: 3px 10px;
text-decoration: none;
color: #333;
width: 450px; 
margin: 7px 0px 0px 10px;
text-align: left;
font-size: 14px;
}
#newsmenu li a:hover{
border-left: 10px solid #15b3e0;
background-color: #fff;
}

/*労働条件向上のこれまでの取り組みメニュー
---------------------------------------------------------------------------*/
#jobhist ul{ 
margin: 0; 
padding: 0; 
list-style: none; 
}
#jobhist li{ 
display: inline; 
padding: 0; 
margin: 0; 
}
#jobhist li a{
display: block; 
border-left: 10px solid #fd8e2f;
border-bottom: 1px solid #ccc;
background-color: #fff;
padding: 3px 10px;
text-decoration: none;
color: #333;

margin: 7px 0px 0px 10px;
text-align: left;
font-size: 14px;
}
#jobhist li a:hover{
border-left: 10px solid #15b3e0;
background-color: #fff;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
    float: left;
    /*左に回り込み*/
    width: 22%;
    /*幅*/
    padding-bottom: 30px;
}

/*１カラム時のサブコンテンツ*/
.c1 #sub {
    display: none;
}

/*subコンテンツ内のh2タグ設定*/
#sub h2 {
    background: #666;
    /*背景色（古いブラウザ用）*/
    background: -webkit-linear-gradient(#777, #666);
    /*グラデーション*/
    background: linear-gradient(#777, #666);
    /*同上*/
    color: #fff;
    /*文字色*/
    border-radius: 5px 5px 0px 0px;
    /*角丸のサイズ。左上、右上、右下、左下の順。*/
    padding: 10px 15px;
    /*上下、左右への見出し内の余白*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
    margin-bottom: 15px;
    /*メニューブロックの下に空けるスペース*/
    border-top: solid 1px #e4e4e4;
    /*上の線の線種、幅、色*/
}

/*メニュー１個ごとの設定*/
#sub ul.submenu li {
    background: #fff;
    /*背景色*/
    border-bottom: solid 1px #e4e4e4;
    /*下の線の線種、幅、色*/
}

#sub ul.submenu li a {
    text-decoration: none;
    display: block;
    padding: 2px 10px;
    /*メニュー内の余白。上下、左右への設定。*/
}

/*サブコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1 {
    padding: 5%;
    /*ボックス内の余白*/
    margin-bottom: 15px;
    /*ボックスの下に空けるスペース*/
    background: #eee;
    /*背景色*/
    border: solid 1px #ccc;
    /*線の線種、幅、色*/
    -webkit-box-shadow: 0px 0px 1px 1px #fff inset;
    /*ボックスの影。内側に白のラインを入れる。*/
    box-shadow: 0px 0px 1px 1px #fff inset;
}

/*box1内のメニューの設定*/
#sub .box1 ul.submenu {
    margin-bottom: 0px;
}

/*box1内のh2見出しの設定*/
#sub .box1 h2 {
    border-radius: 0px;
}
#sub .box1 .newnews {
    margin: 10px 0 5px 0;
}
.nam {
    font-size: 0.7em;
    margin-top: 5px;
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 55px;
}

.pagetop a {
    display: block;
    width: 90px;
    height: 50px;
    background-color: rgba(255, 165, 0, 0.6);
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    line-height: 50px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
    background: #13a0c9;
    /*背景色（古いブラウザ用）*/
    background: -webkit-linear-gradient(#13a0c9, #1190b5);
    /*グラデーション*/
    background: linear-gradient(#13a0c9, #1190b5);
    /*同上*/
    clear: both;
    text-align: center;
    padding: 10px 0px;
}

footer a {
    text-decoration: none;
}

footer .pr {
    display: block;
    padding: 8px 0;
    font-size: 80%;
}

footer #footer_nav {
    background-color: #efefef;
    padding: 10px 0;
}

footer #footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer #footer_nav li {
    display: inline;
    border-left: solid 1px #aaa;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_nav li:last-child {
    border-right: solid 1px #aaa;
    padding: 0 8px;
}

footer small {
    color: #fff;
}

footer small a {
    color: #fff;
}

/*トップページ内「更新情報・お知らせ」ブロック  -----html 削除済み---
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
    padding-left: 15px;
    margin-bottom: 15px;
    height: 140px;
    /*高さ*/
    overflow: auto;
    /*高さの設定を超えるとスクロールが自動で出る設定。全部表示させていたいならこの行と上の行を削除。*/
}

/*日付設定*/
#new dt {
    font-size: 0.9em;
    float: left;
    width: 7em;
}

/*記事設定*/
#new dd {
    padding-left: 7em;
    font-size: 0.9em;
}

/*労働条件向上内「これまでの取り組み」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/

#hist dl {
    padding-left: 15px;
    margin-bottom: 15px;
}

/*日付設定*/
#hist dt {
    font-weight: bold;
    /*太字にする設定。標準がいいならこの行削除。*/
    float: left;
    width: 9em;
}

/*記事設定*/
#hist dd {
    padding-left: 9em;
}

/*「会社提案」の項目
-----------------------------------------------------------------*/
.plan p {
    margin-bottom: 1em;
}

.plan dl {
    margin-left: 1em;
    margin-bottom: 1em;
}

.plan dt {
    margin-left: 1em;
    font-weight: bold;
}

.plan dd {
    margin-left: 2em;
}

.waku {
    background-color: #e3f1fa;
    padding: 5px;
}
.wakudaidai {
    background-color: #FDDDC1;
    padding: 5px;
}
/*「交渉」--「申し入れと回答」「レク」
--------------------------------------------------------------------------*/
.negoti p {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.negoti dl {
    padding-left: 15px;
    margin-bottom: 10px;
}

.negoti dt {
    padding-left: 1.5em;
    text-indent: -1.5em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
}

.negoti dd {
    margin: 0 0 15px 15px;
    padding-left: 4em;
    text-indent: -4em;
    color: #CC5800;
    line-height: 1.4em;
}
.negoti dl dd table {
    border-style: none;
    color: #444444;
    font-size: 1em;
    margin-left: -3em;
    padding: 0;
}
.negoti dl dd table th {
    border-style: none;
}
.negoti dl dd table tr {
    margin: 0;
    padding: 0;
    text-indent: 0;
    /*border-style: none;*/
}
.negoti dl dd table td {
    padding: 6px;
    /*border-style: none;*/
}

/*リストのマークを消す*/
.negoti dl li {
    list-style: none;
}

/*マークの後にスペースを空ける*/
.spa-5 {
    margin-right: 5px;
}

.negoti img {
    margin: 10px;
}

.waku2 {
    border: 1px solid;
}

/*IE6*/
*html ol li span {
    left: -1.25em;
}


/*交渉の「対話」<dl><dt><dd>パターン*/
.disc dl {
    margin-left: 2em;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 2em;
}

.disc dt {
    font-weight: bold;
    /*太字にする設定。標準がいいならこの行削除。*/
    float: left;
    width: 4em;
}

.disc dd {
    padding-left: 4em;
}

/*【回答】のみ*/
.disc p {
    margin-left: 4em;
    text-indent: -4em;
}

/*「交渉の対話」<b>でのくくりパターン*/
.dis {
    margin-left: 3em;
    margin-bottom: 2em;
}

.dis p {
    padding-left: 3em;
    text-indent: -3em;
}

.dis b {
    padding-right: 0.5em;
}

/*テーブル
---------------------------------------------------------------------------*/
table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background: #fff;
}

th {
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background: #eee;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

td.nwp {
    white-space: nowrap;
}

/*ta2設定*/
.ta2 {
    width: 96%;
    margin: 0 auto 30px;
}

.ta2,
.ta2 td,
.ta2 th {
    border: 1px solid #ccc;
    /*テーブルの枠線の幅、線種、色*/
    padding: 5px;
    /*ボックス内の余白*/
    word-break: break-all;
    vertical-align: top;
}

/*テーブル１行目に入った見出し部分*/
.ta2 th.tamidashi {
    width: auto;
    text-align: left;
    /*左よせ*/
    background: #eee;
    /*背景色*/
}

/*ta2の左側ボックス*/
.ta2 th {
    width: 50%;
    /*幅*/
    text-align: center;
    /*センタリング*/
}

/*よく頂く質問ページ
---------------------------------------------------------------------------*/
/*ブロック全体*/
.faq {
    padding: 0px 15px;
    /*上下、左右への余白*/
}

/*質問の設定*/
.faq dt {
    color: #13a0c9;
    /*文字色*/
    font-weight: bold;
    /*太字*/
    padding-top: 15px;
}

.faq dt a {
    color: #13a0c9;
}

/*回答の設定*/
.faq dd {
    border-bottom: 1px solid #CCC;
    /*下線の幅、線種、色*/
    overflow: hidden;
    padding-bottom: 15px;
}

/*一覧ページのボックス右下のオプションマーク
（CMSの場合は管理ページの「オプション1」～のプルダウンと、setup.phpの「オプション選択肢」に関連します）
---------------------------------------------------------------------------*/
/*
.option1 {
    font-size: 10px;
    color: #FFF;
    background: #F00;
    text-align: center;
    display: block;
    width: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(-45deg) translate(-35px);
    transform: rotate(-45deg) translate(-35px);
}

h2 span.option1 {
    width: auto;
    padding: 0px 5px;
    position: static;
    -webkit-transform: none;
    transform: none;
    display: inline-block;
}

.option2 {
    font-size: 10px;
    color: #FFF;
    background: #069;
    text-align: center;
    display: block;
    width: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(-45deg) translate(-35px);
    transform: rotate(-45deg) translate(-35px);
}

h2 span.option2 {
    width: auto;
    padding: 0px 5px;
    position: static;
    -webkit-transform: none;
    transform: none;
    display: inline-block;
}
*/
/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
    background: #F00;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    padding: 3px;
    border-radius: 2px;
    margin: 0px 5px;
}

/*その他
---------------------------------------------------------------------------*/
.look {
    color: #fff;
    background: #666;
    padding: 5px;
    border-radius: 4px;
}

.mb15,
.mb1em {
    margin-bottom: 15px;
}

.clear {
    clear: both;
}

ul.disc {
    padding: 0em 25px 1em;
    list-style: disc;
}

.color1 {
    color: #13a0c9;
}

.aka {
    color: red;
}

.ao {
    color: blue;
}

.pr {
    font-size: 10px;
}

.mikan {
    color: #CC5800;
}
.gyoukann .wl {
    width: 96%;
}

.ws {
    width: 50%;
}

.c {
    text-align: center !important;
}

.r {
    text-align: right !important;
}

.l {
    text-align: left !important;
}

img.fr {
    float: right;
    margin: 10px 0 10px 15px;
}
img.sfr {
    float: right;
    margin: 10px 0 10px 15px;
}

img.fl {
    float: left;
    margin: 10px 15px 10px 0;
}
img.sfl {
    float: left;
    margin: 10px 15px 10px 0;
}

.cle {
    clear: both
}

span.bold {
    font-weight: bold;
}

.big1 {
    font-size: 30px;
    letter-spacing: 0.2em;
}

.big2 {
    font-size: 1.5em;
}

.big3 {
    margin-top: 0.5em;
    font-size: 1.2em;
}

.und-dot {
    border-bottom: dotted 3px #3298D3;
}

.mini1 {
    font-size: 11px;
}

.mini2 {
    font-size: 0.8em;
    line-height: 1.3;
}

.sh {
    display: none;
}


/*扶養認定ページ
---------------------------------------------------------------------------*/
.fuyou p {
    margin-top: 0;
    margin-bottom: 0;
}

/*画面幅1150px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1150px) {

    /*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
    #container {
        width: auto;
        margin: 0px 2%;
    }

}



/*画面幅1000px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1000px) {

    /*メインメニュー
---------------------------------------------------------------------------*/
    /*メニュー１個あたりの設定*/
    ul.ddmenu a {
        padding: 0;
        /*上下、左右にあけるメニュー内の余白*/
    }

    ul.ddmenu ul li {
        font-size: 0.9em;
    }

    /*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
    @media screen and (max-width:900px) {

        /*メインメニュー
---------------------------------------------------------------------------*/
        /*メニューブロックの設定*/
        #menubar-s {
            margin-bottom: 30px;
            overflow: hidden;
        }

        /*メニュー１個あたりの設定*/
        #menubar-s li {
            float: left;
            /*左に回り込み*/
            text-align: center;
            /*内容をセンタリング*/
            width: 49.5%;
            margin-right: 1%;
            margin-bottom: 1%;
        }

        #menubar-s a {
            display: block;
            text-decoration: none;
            line-height: 40px;
            /*高さ*/
            text-align: center;
            background: -webkit-linear-gradient(#fff, #cacaca);
            /*グラデーション*/
            background: linear-gradient(#fff, #cacaca);
            /*同上*/
            border-radius: 5px;
            border: 1px solid #999;
        }

        #menubar-s li:nth-child(even) {
            margin-right: 0;
        }

        /*小さな端末用メニューを非表示から表示に切り替える*/
        #menubar-s {
            display: block;
        }

        /*大きな端末用メニューを非表示にする*/
        ul.ddmenu {
            display: none;
        }

        /*３本バーアイコン設定
---------------------------------------------------------------------------*/
        /*３本バーブロック*/
        #menubar_hdr {
            display: block;
            position: absolute;
            top: 24px;
            /*上から24pxの場所に配置*/
            right: 30px;
            /*右から5%の場所に配置*/
            width: 35px;
            /*幅*/
            border: 1px solid #fff;
            /*枠線の幅、線種、色*/
            padding: 12px 10px 5px;
            /*上、左右、下へのボックス内余白*/
        }

        /*３本のバー（1本あたり）*/
        #menubar_hdr span {
            display: block;
            border-top: 3px solid #fff;
            /*枠線の幅、線種、色*/
            margin-bottom: 4px;
            /*バー同士の余白*/
        }

        .close p {
            margin: 0;
            padding: 0;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
        }

        .open p {
            margin: 0;
            padding: 0;
            color: gray;
            font-weight: bold;
            font-size: 12px;
        }

        /*main,subコンテンツ
---------------------------------------------------------------------------*/
        #main,
        #sub {
            float: none;
            width: auto;
            overflow: hidden;
        }

        /*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
        section#new h2.open {
            background: url(../images/btn_minus.png) no-repeat right center/34px 34px, linear-gradient(#13a0c9, #1190b5);
        }

        section#new h2.close {
            background: url(../images/btn_plus.png) no-repeat right center/34px 34px, linear-gradient(#13a0c9, #1190b5);
        }

        /*その他
---------------------------------------------------------------------------*/
        body.s-n #sub {
            display: none;
        }

        #breadcrumb {
            display: none;
        }

    }



    /*画面幅600px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

    @media screen and (max-width:600px) {

        /*コンテンツ内のボックス（list）設定
---------------------------------------------------------------------------*/
        /*ボックス１個あたりの設定*/
        .list {
            float: none;
            width: auto;
            height: auto;
        }

        .list a {
            height: auto;
        }

        /*ボックス内の画像設定*/
        .list .img {
            height: auto;
            /*画像の高さ*/
        }

    }



    /*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

    @media screen and (max-width:480px) {

        /*全体の設定
---------------------------------------------------------------------------*/
        body {
            font-size: 15px;
            /*文字サイズ*/
            line-height: 1.8;
            /*行間*/
        }

        #main h1 {
            font-size: 1.6em;
        }

        #main .tit {
            font-size: 0.9em;
        }

        .c1 #main {
            width: 100%;
        }

        /*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
        /*ヘッダーブロック*/
        header {
            height: 80px;
            /*高さ*/
            border-radius: 0px 0px 5px 5px;
            /*角丸のサイズ。左上、右上、右下、左下への順番。*/
            margin-bottom: 20px;
            /*下のコンテンツとの間にあけるスペース*/
        }

        /*ロゴ画像*/
        #logo img {
            width: 200px;
            /*画像幅*/
            padding: 28px 0px 0px 20px;
            /*ロゴの余白。上、右、下、左の順。*/
        }

        /*メインメニュー
---------------------------------------------------------------------------*/
        /*メニューブロックの設定*/
        #menubar-s {
            margin-bottom: 20px;
        }

        /*メニュー１個あたりの設定*/
        #menubar-s li {
            float: none;
            width: 100%;
            margin-right: 0;
        }

        #menubar-s a {
            border-radius: 5px;
        }

        /*３本バーアイコン設定
---------------------------------------------------------------------------*/
        /*３本バーブロック*/
        #menubar_hdr {
            top: 15px;
            /*上から24pxの場所に配置*/
        }

        /*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
        #sub ul.submenu li a {
            padding: 10px 10px;
            /*メニュー内の余白。上下、左右への設定。*/
        }

        /*テーブル
---------------------------------------------------------------------------*/
        /*テーブル内の左側*/
        .ta1 th {
            width: 100px;
            padding: 5px;
        }

        /*テーブル内の右側*/
        .ta1 td {
            width: auto;
            padding: 5px;
        }

        /*その他
---------------------------------------------------------------------------*/
        .ws,
        .wl {
            width: 95%;
        }

        img.fr,
        img.fl {
            float: none;
            margin: 0;
            width: 100%;
        }
        img.sfr,
        img.sfl {
            float: none;
            margin: 0;
            width: 40%;
        }

        .sh {
            display: block;
        }

        .pc {
            display: none;
        }

    }



    /*画面幅360px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

    @media screen and (max-width:360px) {

        /*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
        /*ロゴ画像*/
        #logo img {
            padding: 26px 0px 0px 10px;
            /*ロゴの余白。上、右、下、左の順。*/
        }

        /*３本バーアイコン設定
---------------------------------------------------------------------------*/
        /*３本バーブロック*/
        #menubar_hdr {
            right: 15px;
            /*右から15pxの場所に配置*/
        }
    }